<section class="docs">
 <div class="grid">

   
   <div class="unit four-fifths">
     <article>
      <h1>// doc name</h1>
       // doc page
     </article>
   </div>

   {{>side-nav}}

   <div class="clear"></div>

 </div>
</section>