<footer>
  <div class="grid">
    <div class="unit whole">
      <p>
        Excalibur<br />
        A simple game engine for building 2D games on the web.<br />
      </p>
      <p>
        By <a href="http://erikonarheim.com">Erik Onarheim</a>, <a href="https://github.com/jedeen/">Josh Edeen</a>, and <a href="http://kamranicus.com/">Kamran Ayub</a>.
      </p>
    </div>
    <div class="unit whole">
      <p>
        This site powered by 
        <a href="http://jekyllrb.com/">
          <img class="jekyll" src="/img/logo-2x.png"/>
        </a>
        and
        <a href="http://yui.github.io/yuidoc/">
          <img class="yui" src="/img/logo.png"/>
        </a>
      </p>
    </div>
  </div>
</footer>