<header>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a href="/">
          <span>Excalibur</span>
          <img src="/img/excalibur-title.png" width="307" height="115" alt="">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds">
      {{>primary-nav}}
    </nav>
  </div>
</header>