<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">
         Build amazing 2D games for the web using Excalibur. For Free.
      </p>
    </div>
  </div>
</section>
<section class="features">
  <div class="grid">
    <div class="unit one-third">
      <h2>Simple</h2>
      <p>
        Build games with JavaScript in a declarative way. 
      </p>
      <a href="/docs/quickstart/" class="">Basics of Excalibur</a>
    </div>
    <div class="unit one-third">
      <h2>Open Source</h2>
      <p>
         Excalibur is completely open source under the BSD license. Use it in your next game!
      </p>
      <a href="https://github.com/eonarheim/excalibur" class="">View Source On GitHub</a>
    </div>
    <div class="unit one-third">
      <h2>Cross Platform</h2>
      <p>
         Excalibur is written with HTML5 standards in mind. Any device that can run a modern web browser can run Excalibur.
      </p>
      <a href="http://cordova.apache.org/" class="">Build Cross-platform JS Apps</a>
    </div>
    <div class="clear"></div>
  </div>
</section>
