<a name="props_{{name}}"></a>
<div class="props item">
    <pre>`{{name}}`: {{#crossLink type}}{{/crossLink}}{{#if final}} <em>(final)</em>{{/if}}{{#if static}} <em>(static)</em>{{/if}}</pre>
    <hr>
    {{{propertyDescription}}}
    {{#if example}}
        <h5>Example</h5>
        {{{example}}}
    {{/if}}
</div>
