<div style="position:absolute; top: 400px; left: 300px">
   <div>Particle Info</div>
   <hr>
   <span>Count: <span data-text="this.particles.count()"></span></span><br>
   <span>Pos: <span data-text="'(' + this.x + ', ' + this.y + ')'"></span></span><br>
   <span data-style="color:this.beginColor.toString()">Begin Color: <span data-style="color:this.beginColor.toString()" data-text="this.beginColor.toString()"></span></span><br>
   <span data-style="color:this.endColor.toString()">End Color: <span data-style="color:this.endColor.toString()" data-text="this.endColor.toString()"></span></span><br>
<div>
