!build/dist/**/*.*
.github/
.storybook/
.vscode/
.tscache/
assets/
build-storybook/
coverage/
docs/
sandbox/
src/
typedoc-default-themes/

.tsbuildinfo
.prettierignore
.eslintignore
.eslintrc.json
apidocs.js
appveyor.yml
deploy-docs.js
Excalibur.nuspec
karma.conf.js
prettier.config.js
release.js
renovate.json
version.js
webpack.config.js
webpack.config.prod.js