!build/dist/**/*.*
!build/esm/**/*.*
.github/
.storybook/
.vscode/
.tscache/
assets/
build-storybook/
coverage/
docs/
sandbox/
src/
typedoc-default-themes/
scripts/

.tsbuildinfo
.prettierignore
.eslintignore
.eslintrc.json
appveyor.yml
Excalibur.nuspec
karma.conf.js
karma.conf.browsers.js
wallaby.js
prettier.config.js
renovate.json
version.js
webpack.config.js
webpack.config.prod.js