/.vscode
/.gitattributes
/.travis.yml
/appveyor.yml

/node_modules
/bower_components
/assets
/bin
/docs
/sandbox
/src
/tools
/tslint
/*.md
/Gruntfile.js
/deploy-docs.js
/package.json
/bower.json
/*.csproj
/*.sublime-*
/*.sln
/*.bat
/*.nuspec