html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	height: 100%;
	flex: 1 1 auto;
}

#preview {
	min-width: 400px;
	display: flex;
	flex-direction: column;
}

#controls {

}

main {
	height: 100%;
	display: flex;
}
