<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity
    Name="7266620d-02d1-4baf-93c4-493ef4c17e0f"
    Version="1.0.0.0"
    Publisher="CN=Kamran" />

  <mp:PhoneIdentity PhoneProductId="7266620d-02d1-4baf-93c4-493ef4c17e0f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Excalibur.Samples.Win8.WindowsPhone</DisplayName>
    <PublisherDisplayName>Kamran</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

        <m3:VisualElements
                  DisplayName="Excalibur.Samples.Win8.WindowsPhone"
                  Square150x150Logo="images\Square150x150Logo.png"
                  Square44x44Logo="images\Square44x44Logo.png"
                  Description="Excalibur.Samples.Win8.WindowsPhone"
                  ForegroundText="light"
                  BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png" />
            <m3:SplashScreen Image="images\SplashScreen.png" />
        </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>

</Package>
