.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}

.info {
  color: var(--color-sky-700);
  border: 1px solid var(--color-sky-700);
  background-color: var(--color-sky-100);
  padding: 12px;
  font-size: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: var(--color-zinc-300);
  background: transparent;
  font-size: 12px;
  padding: 4px;
  margin: 0;

  :global(html[data-theme='light']) & {
    color: var(--color-zinc-900);
  }
}

.image {
  width: 100px;
  flex: 0 0 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
}

.contents {
  flex: 1 1 auto;
}

.item pre {
  color: var(--color-zinc-300);
  background: var(--color-zinc-950);
  padding: 12px;
  width: 100%;
}
