/* Buttons styles start */
button#excalibur-play {
  display: none;
}

button#excalibur-play {
  box-sizing: border-box;
  display: flex;
  gap: .25rem;
  white-space: nowrap;
  justify-content: center;
  position: relative;
  z-index: 999;
  border-radius: 6px;
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  background: #00b233;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-animation: excalibur-button-fadein 200ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: excalibur-button-fadein 200ms; /* Firefox < 16 */
  -ms-animation: excalibur-button-fadein 200ms; /* Internet Explorer */
  -o-animation: excalibur-button-fadein 200ms; /* Opera < 12.1 */
  animation: excalibur-button-fadein 200ms;
}

span#excalibur-play-icon {
  content: '';
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
}

span#excalibur-play-icon:after {
  box-sizing: border-box;
  position: absolute;
  content: '';
  border: .5rem solid;
  border-color: transparent transparent transparent white;
  left: calc(50% - .1rem);
  top: calc(30% - .1rem);
  width: 0;
  height: 0;
}

span#excalibur-play-icon:before {
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: '';
  border: 3px solid;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}

button#excalibur-play:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button#excalibur-play:active {
  transform: scale(0.99);
}

@keyframes excalibur-button-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes excalibur-button-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes excalibur-button-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes excalibur-button-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes excalibur-button-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
