.root {
  align-items: center;
  background: var(--color-zinc-900);
  border-bottom: 1px solid var(--color-zinc-600);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  :global(html[data-theme='light']) & {
    background: var(--color-zinc-100);
    border-bottom: 1px solid var(--color-zinc-300);
  }
}

.logo {
  display: block;
  width: 100px;
}

.logo :is(source, img) {
  width: 100%;
}

.right {
  align-items: center;
  display: flex;
  gap: 48px;
}

.group {
  align-items: center;
  display: flex;
  gap: 16px;
}
