# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  COVERALLS_REPO_TOKEN: '${{ secrets.COVERALLS_REPO_TOKEN }}'
  COVERALLS_GIT_BRANCH: '${{ github.ref }}'

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_call:

jobs:
  lint:
    runs-on: [ubuntu-latest]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: npm
      - run: npm ci
      - name: Check formatting
        run: npm run format
      - name: Lint
        run: npm run lint

  build:
    runs-on: [ubuntu-latest]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: npm
      - run: npm ci
      - name: Build
        run: npm run build

  tests:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, windows-2025]
    runs-on: ${{ matrix.runner }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 100
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: npm
      - run: npm ci
      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 133.0.6943.98
      - name: Install Playwright browsers
        run: npx playwright install chromium --with-deps

      - name: Tests
        run: npm run test:ci -- --coverage=${{ matrix.runner == 'ubuntu-latest' }}

      - name: Coveralls
        if: ${{ matrix.runner == 'ubuntu-latest'}}
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  typedoc:
    runs-on: [ubuntu-latest]
    env:
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 100
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: npm
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --ignore-scripts
      - run: npm run apidocs

  examples:
    runs-on: [ubuntu-latest]
    env:
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 100
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: npm
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --ignore-scripts
      - run: npm run build-storybook
