name: Deploy
on:
  push:
    branches: [ main ]

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:
    uses: ./.github/workflows/build.yml
  deploy_alpha:
    name: Publish alpha npm package
    needs: [build]
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 100
    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        registry-url: 'https://registry.npmjs.org'
        cache: npm
    - run: npm ci
    - run: npm run build
    - run: npm run build:esm
    - run: echo "alpha_version=$(node -e "console.log(require('./version').getAlphaVersion());")" >> $GITHUB_ENV
    - run: echo $alpha_version
    - run: npm --no-git-tag-version version $alpha_version
    - run: npm publish --tag next
    - name: Create Tag
      uses: actions/github-script@v7.0.1
      with:
        script: |
          const {alpha_version} = process.env;
          github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${alpha_version}`,
              sha: context.sha
          })

  docs:
    name: docs
    runs-on: [ubuntu-latest]

    steps:
    - name: Trigger docs deployment
      uses: peter-evans/repository-dispatch@v1.1.3
      with:
        repository: excaliburjs/excaliburjs.github.io
        token: ${{ secrets.DOCS_GH_TOKEN }}
        event-type: deploy-docs
