name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-close: 99999
        exempt-issue-label: 'good first issue'
        stale-issue-message: "This issue hasn't had any recent activity lately and is being marked as stale automatically."
        stale-pr-message: "This PR hasn't had any recent activity lately and is being marked as stale automatically."
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
